<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> Viswanadham (Vish) Sridhara</title>
  <link href="media/cv-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/cv-print.css" type="text/css" rel="stylesheet" media="print">
  <link href="media/academicons.min.css" rel="stylesheet">

  <!-- imports -->
  <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->
  <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>-->
</head>
  <body>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>


  </body>
</html>
